@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Color Theme Swatches in Hex */
  --color1: #f988a5;
  --color2: #91a6d1;
  --color3: #333c59;
  --color4: #05F2DB;
  --color5: #F2F2F2;
  --color6: #383838;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color5);
  color: var(--color6);
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.row-display {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 60%);
  width: fit-content;
}

.button1:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.button1:active {
  box-shadow: none;
}

/* inspired form gumroad website */
.button2 {
  --bg: var(--color6);
  --hover-bg: var(--color2);
  --hover-text: var(--color6);
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: .5rem 2rem;
  background: var(--bg);
  transition: 0.2s;
  font-size: 20px !important;
}

.button2:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--color2);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button2:active {
  transform: translate(0);
  box-shadow: none;
}